.basic-card {
  padding: 21px 0 22px 0;

  @media (min-width: @tablet-width) {
    padding: 30px 30px 40px 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 33px 38px 40px 38px;
  }

  &--show-more {
    padding-top: 82px;

    @media (min-width: @tablet-width) {
      margin-top: 110px;
      padding: 0 37px 0 38px;
      border: 1px solid @specialbeige;
    }

    @media (min-width: @desktop-width) {
      padding: 0 37px 0 38px;
    }
  }
}

.basic-card__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.basic-card__wrapper--product {
  position: relative;
  padding: 0;

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.basic-card__wrapper--product::after {
  position: absolute;

  @media (min-width: @tablet-width) {
    content: "";
    display: block;
    width: 324px;
    height: 430px;
    top: 80px;
    left: -30px;
    background-color: @lightgrey;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    height: 430px;
    top: 76px;
    left: -37px;
  }
}

.basic-card__product-wrapper {
  display: flex;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    margin-bottom: 28px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    margin-bottom: 34px;
  }
}

.basic-card__info-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
}

.basic-card__title {
  display: block;
  margin: 0;
  padding: 0;
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  &--product {
    width: 76px;
    color: @specialblack;
    margin-bottom: 12px;

    @media (min-width: @tablet-width) {
      width: 57%;
      text-align: center;
      margin: 0 53px 20px 53px;
    }

    @media (min-width: @desktop-width) {
      width: 90%;
      margin: 0 14px 21px 8px;
    }
  }

  &--show-more {
    display: block;
    position: relative;
    color: @black;
    margin-bottom: 8px;
    text-align: center;

    @media (min-width: @tablet-width) {
      padding-top: 160px;
      margin-bottom: 23px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 149px;
      margin-bottom: 24px;
    }
  }
}

.basic-card__title--show-more br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.basic-card__title--show-more::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 1px;
  top: -40px;
  right: 125px;
  background-color: @specialbeige;

  @media (min-width: @tablet-width) {
    width: 60px;
    top: 80px;
    right: 94px;
  }

  @media (min-width: @desktop-width) {
    right: 55px;
  }
}

.basic-card__title--show-more::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 1px;
  top: -40px;
  right: 125px;
  background-color: @specialbeige;
  transform: rotate(90deg);

  @media (min-width: @tablet-width) {
    width: 60px;
    top: 78px;
    right: 94px;
  }

  @media (min-width: @desktop-width) {
    right: 55px;
  }
}

.basic-card__image-container {
  margin: 10px 36px;

  @media (min-width: @tablet-width) {
    margin: 30px 45px 38px 45px;
  }

  @media (min-width: @desktop-width) {
    margin: 24px 0 29px 4px;
  }

  &--big {
    margin: 3px 28px;

    @media (min-width: @tablet-width) {
      margin: 12px 41px 21px 41px;
    }

    @media (min-width: @desktop-width) {
      margin: 12px 0 16px 0;
    }
  }
}

.basic-card__button {
  padding: 8px 109px;

  @media (min-width: @tablet-width) {
    width: 100%;
    padding: 7px 85px 9px 94px;
  }

  @media (min-width: @desktop-width) {
    padding: 7px 53px;
  }

  &--secondary {
    padding: 10px 95px;

    @media (min-width: @tablet-width) {
      width: 100%;
      padding: 7px 78px;
    }

    @media (min-width: @desktop-width) {
      padding: 9px 37px 9px 38px;
    }
  }
}

.basic-card__promo {
  margin: 0;
  margin-bottom: 21px;
  font-family: @lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @specialgrey;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 82px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 89px;
  }
}

.basic-card__promo br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
