.basic-card {
  padding: 20px 20px 25px 20px;

  &--show-more {
    padding-top: 78px;
  }
}

.basic-card__wrapper {
  display: flex;
  flex-direction: column;
}

.basic-card__product-wrapper {
  display: flex;
  margin-bottom: 17px;
}

.basic-card__info-wrapper {
  display: flex;
  flex-direction: column;
}

.basic-card__title {
  display: block;
  margin: 0;
  padding: 0;
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  &--product {
    width: 76px;
    color: @specialblack;
    padding-bottom: 14px;
  }

  &--show-more {
    color: @black;
    padding-bottom: 8px;
    text-align: center;
  }
}

.basic-card__image-container {
  padding: 10px 36px;

  &--big {
    padding: 3px 28px;
  }
}

.basic-card__button {
  padding: 10px 109px;

  &--secondary {
    padding: 10px 95px;
  }
}

.basic-card__promo {
  margin: 0;
  padding-bottom: 21px;
  font-family: @lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @specialgrey;
  text-align: center;
}

