@import "./variables.less";
@import "./fonts.less";

.catalog {
  margin: 0 auto;
}

.catalog__title {
  padding: 0;
  margin: 27px 42px 40px 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.catalog__basic {
  width: 320px;
}

.catalog__supplements {
  width: 280px;
}
