.catalog__title {
  padding: 0;
  margin: 27px 20px 40px 0;
  font-family: @oswald, "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: @tablet-width) {
    margin: 50px 270px 53px 0;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 59px 270px 56px 0;
  }
}

.catalog__promotion {
  margin-top: 37px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-top: 78px;
    margin-bottom: 75px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 197px;
    margin-bottom: 0;
  }
}

.catalog__supplements-and-promo-wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 896px 245px;
    column-gap: 80px;
    align-items: flex-start;
    margin-bottom: 87px;
  }
}
