.copyright__link {
  display: flex;
  align-items: center;
  margin: 0;
  text-decoration: none;
  font-family: @lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @specialgrey;
}

.copyright__title {
  margin: 0;
  padding-right: 140px;
  font-family: @lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @specialgrey;

  @media (min-width: @tablet-width) {
    padding-right: 23px;
  }
}

.copyright__logo {
  display: block;
}
