.copyright__link {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  text-decoration: none;
  font-family: @lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @specialgrey;
}

.copyright__title {
  margin: 0;
  padding-right: 50%;
  font-family: @lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @specialgrey;

  @media (min-width: @tablet-width) {
    padding-right: 23px;
  }
}

.copyright__link::after {
  content: "";
  display: block;
  mask-image: url("../img/sprite.svg#logo-academy");
  width: 27px;
  height: 34px;
  background-color: @lightblack;
}

.copyright__link:hover::after,
.copyright__link:focus::after,
.copyright__link:active::after {
  background-color: @green;
}

.copyright__link:active {
  opacity: 0.3;
}
