.form-select-program__cat-and-program-wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form-select-program__fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
  border: none;

  &--with-title {
    margin-bottom: 24px;
  }
}

.form-select-program__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  &--inline {
    @media (min-width: @desktop-width) {
      display: flex;
      justify-content: space-between;
    }
  }

  &--additional {
    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 225px 225px;
    }

    @media (min-width: @desktop-width) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.form-select-program__item {
  font-family: @oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @specialgrey;

  &:not(:last-child) {
    padding-bottom: 19px;

    @media (min-width: @tablet-width) {
      padding-bottom: 37px;
    }
  }
}

.form-select-program__item--to-write input {
  padding: 14px;
}

.form-select-program__legend {
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
  font-family: @oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.form-select-program__textfield {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
}

.form-select-program__textarea {
  padding: 14px;
  padding-bottom: 118px;
}

.form-select-program__required {
  font-family: @lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.form-select-program__control {
  position: relative;
  display: block;
  padding-left: 45px;
  cursor: pointer;
}

.form-select-program__input[type="checkbox"]:checked + .form-select-program__mark--checkbox::after {
  position: absolute;
  content: url(../img/icons/form/checkbox-tick-mobile.svg);
  width: 18px;
  height: 14px;
  top: 25%;
  left: 25%;

  @media (min-width: @tablet-width) {
    content: url(../img/icons/form/checkbox-tick-tablet-desktop.svg);
    width: 24px;
    height: 19px;
  }
}

.form-select-program__input[type="radio"]:checked + .form-select-program__mark--radio::after {
  position: absolute;
  content: url(../img/icons/form/radio-tick-mobile.svg);
  width: 13px;
  height: 13px;
  top: 20%;
  left: 24%;

  @media (min-width: @tablet-width) {
    content: url(../img/icons/form/radio-tick-tablet-desktop.svg);
    width: 18px;
    height: 18px;
    top: 25%;
    left: 27%;
  }
}

.form-select-program__mark {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  bottom: -5px;
}

.form-select-program__mark--radio {
  content: "";
  width: 29px;
  height: 29px;
  border: 1px solid @darkbeige;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 39px;
    height: 39px;
  }
}

.form-select-program__mark--checkbox {
  content: "";
  width: 29px;
  height: 29px;
  border: 1px solid @darkbeige;

  @media (min-width: @tablet-width) {
    width: 39px;
    height: 39px;
  }
}

.form-select-program__input:hover + .form-select-program__mark {
  border: 1px solid @brightbeige;
}

.form-select-program__input:disabled + .form-select-program__mark + .form-select-program__label {
  opacity: 0.3;
  cursor: default;
}

.form-select-program__input:disabled:hover + .form-select-program__mark {
  border: 1px solid @darkbeige;
  cursor: default;
}

.form-select-program__button-wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 285px 285px;
    column-gap: 60px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
  }
}

.form-select-program__button {
  padding: 10px 78px;
  margin-bottom: 21px;
}
