.form-select-program__cat-and-program-wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
  }
}

.form-select-program__fieldset {
  padding: 0;
  margin: 0 0 50px;
  border: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 70px;
  }

  &--with-title {
    margin-bottom: 24px;

    @media (min-width: @tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 51px;
    }
  }

  &--additional {
    margin-bottom: 38px;

    @media (min-width: @tablet-width) {
      margin-bottom: 28px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 41px;
    }
  }
}

.form-select-program__fieldset--without-title {
  position: relative;
}

.form-select-program__fieldset--without-title::after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 1px;
  background-color: @beige;
  bottom: -24px;
  left: -8%;

  @media (min-width: @tablet-width) {
    content: none;
  }
}

.form-select-program__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  &--inline {
    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: repeat(2, 572px);
      column-gap: 78px;
    }
  }

  &--additional {
    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 225px 225px;
      column-gap: 118px;
      row-gap: 21px;
    }

    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: repeat(4, 221px);
      column-gap: 105px;
    }
  }

  &--with-border {
    @media (min-width: @tablet-width) {
      margin-top: 3px;
      padding: 25px 310px 31px 27px;
      border: 1px solid @brightgrey;
    }

    @media (min-width: @desktop-width) {
      margin-top: 0;
      padding: 29px 251px 30px 28px;
    }
  }
}

.form-select-program__item {
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @specialgrey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-select-program__item--to-write {
  display: flex;
  align-items: baseline;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 11px;

    @media (min-width: @tablet-width) {
      margin-bottom: 18px;
    }
  }
}

.form-select-program__item--to-check {
  &:not(:last-child) {
    margin-bottom: 25px;

    @media (min-width: @desktop-width) {
      margin-bottom: 23px;
    }
  }
}

.form-select-program__icon {
  position: absolute;
  display: block;
  top: 16px;
  right: 12px;
  stroke: @specialblack;
  fill: none;

  @media (min-width: @tablet-width) {
    top: 20px;
    right: 15px;
  }
}

.form-select-program__input:focus + .form-select-program__icon {
  stroke: @green;
}

.form-select-program__input:invalid:focus + .form-select-program__icon {
  stroke: @red;
}

.form-select-program__input {
  flex-grow: 1;
  padding: 14px 0 13px 15px;
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @specialgrey;
  text-transform: uppercase;
  border: 2px solid @brightgrey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0 10px 18px;
  }
}

.form-select-program__input[type="number"]::-webkit-outer-spin-button,
.form-select-program__input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.form-select-program__input[type='number'],
.form-select-program__input[type="number"]:hover,
.form-select-program__input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.form-select-program__item--to-write input:hover {
  border: 2px solid @darkbeige;
}

.form-select-program__item--to-write input:focus {
  border: 2px solid @specialgrey;
}

.form-select-program__item--to-write input:invalid:focus {
  border: 2px solid @red;
  outline: none;
}

.form-select-program__item--to-write label {
  margin-right: 15px;
}

.form-select-program__legend {
  position: relative;
  display: inline-block;
  margin: 0 78px 34px 0;
  padding: 0;
  padding-right: 20px;
  font-family: @oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  background-color: @white;
  white-space: nowrap;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 75px;
    margin-left: -40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 75px;
  }

  &--additional {
    margin-bottom: 38px;

    @media (min-width: @tablet-width) {
      margin-bottom: 60px;
    }
  }
}

.form-select-program__legend::before,
.form-select-program__legend::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 95vw;
  top: 50%;
  margin-top: 2px;
  background-color: @green;
  z-index: -1;
}

.form-select-program__legend::before {
  right: 0;
  content: none;

  @media (min-width: @tablet-width) {
    content: "";
  }
}

.form-select-program__legend::after {
  left: 20px;
}

.form-select-program__legend--contact::after {
  top: 26%;

  @media (min-width: @tablet-width) {
    top: 50%;
  }
}

.form-select-program__textfield {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 66px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 73px;
  }
}

.form-select-program__textarea {
  margin: 0;
  padding: 14px;
  padding-bottom: 100px;
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @specialgrey;
  text-transform: uppercase;
  border: 1px solid @brightgrey;

  @media (min-width: @tablet-width) {
    padding: 13px 295px 102px 20px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 2px;
  }
}

.form-select-program__required {
  margin: 0;
  margin-bottom: 32px;
  font-family: @lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-top: 12px;
    font-size: 16px;
    line-height: 16px;
  }
}

.form-select-program__control {
  position: relative;
  display: block;
  padding-left: 45px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding-left: 58px;
  }
}

.form-select-program__input[type="checkbox"]:checked + .form-select-program__mark--checkbox::after {
  position: absolute;
  content: url(../img/icons/checkbox-tick-mobile.svg);
  width: 18px;
  height: 14px;
  top: 15%;
  left: 20%;

  @media (min-width: @tablet-width) {
    content: url(../img/icons/checkbox-tick-tablet-desktop.svg);
    width: 24px;
    height: 19px;
  }
}

.form-select-program__input[type="radio"]:checked + .form-select-program__mark--radio::after {
  position: absolute;
  content: url(../img/icons/radio-tick-mobile.svg);
  width: 13px;
  height: 13px;
  top: 20%;
  left: 24%;

  @media (min-width: @tablet-width) {
    content: url(../img/icons/radio-tick-tablet-desktop.svg);
    width: 18px;
    height: 18px;
    top: 12%;
    left: 26%;
  }
}

.form-select-program__mark {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  bottom: -5px;
}

.form-select-program__mark--radio {
  content: "";
  width: 29px;
  height: 29px;
  border: 1px solid @darkbeige;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 39px;
    height: 39px;
  }
}

.form-select-program__mark--checkbox {
  content: "";
  width: 29px;
  height: 29px;
  border: 1px solid @darkbeige;

  @media (min-width: @tablet-width) {
    width: 39px;
    height: 39px;
  }
}

.form-select-program__input:hover + .form-select-program__mark {
  border: 1px solid @brightbeige;
}

.form-select-program__input:disabled + .form-select-program__mark + .form-select-program__label {
  opacity: 0.3;
  cursor: default;
}

.form-select-program__input:disabled:hover + .form-select-program__mark {
  border: 1px solid @darkbeige;
  cursor: default;
}

.form-select-program__button-wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 285px 215px;
    column-gap: 40px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 570px 180px;
    column-gap: 76px;
  }
}

.form-select-program__button {
  padding: 10px 78px;
  margin-bottom: 17px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    padding: 14px 65px;
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 80px;
  }
}
