.hero-block {
  position: relative;
  background-image: url("../img/pictures/hero-block-background-mobile.jpg");
  background-position: center top;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/pictures/hero-block-background-mobile-x2.jpg");
    background-size: 320px auto;
  }

  @media (min-width: @tablet-width) {
    background-image: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 303px;
    background-color: @darkgreen;
    z-index: -1;

    @media (min-width: @tablet-width) {
      content: none;
    }

    @media (min-width: @desktop-width) {
      content: "";
      position: absolute;
      width: 50%;
      height: 694px;
      left: 53%;
      top: -140px;
      background-image: url("../img/pictures/hero-block-background-desktop.png");
      background-color: @darkgreen;
      background-size: 720px auto;
      background-position: top right;
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/pictures/hero-block-background-desktop-x2.jpg");
        background-size: 720px auto;
      }
    }
  }
}

.hero-block__wrapper {
  @media (min-width: @tablet-width) {
    margin-left: 90px;
    margin-right: 204px;
  }

  @media (min-width: @tablet-width) {
    margin-left: 90px;
    margin-right: 200px;
    margin-bottom: 526px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 68px;
    margin-right: 675px;
    margin-bottom: 266px;
  }
}

.hero-block__title {
  display: block;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 25px;
  margin: 0;
  font-family: @oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @white;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: @black;
    text-align: left;
    padding-top: 65px;
    padding-bottom: 40px;
  }
}

.hero-block__slogan {
  margin: 0;
  font-family: @oswald;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  color: @white;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: @black;
    text-align: left;
  }
}

.hero-block__button {
  position: relative;
  width: 100%;
  margin-top: 302px;
  padding: 10px 63.5px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    width: 59%;
    margin-top: 50px;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
  }
}

.hero-block__button::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 270px;
  left: 0;
  bottom: 40px;
  background-image: url("../img/pictures/index-can-mobile.png");
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/pictures/index-can-mobile-x2.png");
    background-size: 280px auto;
  }

  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
    background-image: url("../img/pictures/index-can-tablet.png");
    background-size: 709px auto;
    left: -80px;
    top: -20px;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/pictures/index-can-tablet-x2.png");
    }
  }

  @media (min-width: @desktop-width) {
    width: 552px;
    height: 499px;
    background-image: url("../img/pictures/index-can-desktop.png");
    background-size: 552px auto;
    left: 423px;
    top: -305px;
    z-index: 1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/pictures/index-can-desktop-x2.png");
    }
  }
}
