@import "./variables.less";
@import "./fonts.less";


.hero-block__wrapper--has-background {
  width: 320px;
  background-color: @green;
  background-image: url("/source/img/pictures/hero-block-background-mobile.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hero-block__title {
  display: block;
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @black;

  &--has-background {
    padding: 27px 35px 25px 36px;
    color: @white;
    text-align: center;
  }
}

.hero-block__slogan {
  margin: 0;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: @black;
  font-size: 20px;
  line-height: 20px;
  text-align: left;

  &--has-background {
    padding-bottom: 164px;
    font-size: 14px;
    line-height: 14px;
    color: @white;
    text-align: center;
  }
}

.hero-block__button {
  margin-top: 135px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 63.5px;
}

