@import "./variables.less";
@import "./fonts.less";

.main-footer__partnership {
  &--light-theme {
    background-color: @white;
  }
}

.main-footer__location {
  background-image: url("/source/img/pictures/footer-location.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
