.main-header {
  background-color: @white;
  padding-top: 13px;
  padding-bottom: 13px;
}

.main-header__row {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
}
