.main-footer__partnership {
  background-color: @lightgrey;

  &--light-theme {
    background-color: @white;
  }
}

.main-footer__location {
  background-image: url("../img/pictures/footer-location.png");
  background-repeat: no-repeat;
  background-size: cover;
}
