.main-nav {
  position: relative;
  width: auto;
}

.main-nav--closed .main-nav__wrapper {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 30px;
  width: 24px;
  height: 2px;
  background-color: @black;
  box-shadow: 0 8px 0 0 @black, 0 16px 0 0 @black;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 30px;
    width: 24px;
    height: 2px;
    background-color: @black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__toggle {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  background-color: @white;
  top: -55px;
  left: 300px;
}

.main-nav__wrapper {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 24px;
  background-color: @white;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__item {
  position: relative;

  &:not(:last-child) {
    padding-bottom: 46px;
  }

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: @middlegrey;
    left: 0;
    top: -22px;
  }

  @media (min-width: @tablet-width) {
    &::after {
      display: none;
    }
  }
}

.main-nav__link {
  font-family: @oswald;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
  text-decoration: none;
}
