.promotion {
  background-color: @green;
  background-image: url("../img/pictures/catalog-promo-background-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.promotion__content {
  position: relative;
  padding: 187px 61px 43px 58px;
  font-family: @lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
    padding: 71px 125px 69px 421px;
  }
}

.promotion__content::before {
  position: absolute;
  content: url(../img/icons/promotion-gift.svg);
  bottom: 150px;
  left: 100px;

  @media (min-width: @tablet-width) {
    bottom: 60px;
    left: 100px;
  }
}
