.slider {
  width: 280px;
  height: 256px;

  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
  }

  @media (min-width: @desktop-width) {
    width: 560px;
    height: 512px;
  }
}
