@import "./variables.less";
@import "./fonts.less";

.socials__list {
  padding: 0;
  margin: 0;
  margin-bottom: 42px;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.socials__item {
  &:not(:last-child) {
    padding-right: 24px;
  }
}
