.supplements__title {
  position: relative;
  display: block;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 36px;
  padding: 0;
  font-family: @oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  background-color: @white;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px 0 40px;
    margin: 70px 245px 80px 40px;
  }

  @media (min-width: @desktop-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 76px 329px 80px 0;
  }
}

.supplements__title::before {
  position: absolute;

  @media (min-width: @tablet-width) {
    content: "";
    height: 2px;
    width: 100vw;
    top: 60%;
    left: -21%;
    background-color: @green;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    width: 21%;
    left: -25%;
  }
}

/*.supplements__title::after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: @green;
  width: 24%;
  top: 60%;
  left: 90%;

  @media (min-width: @tablet-width) {
    width: 95%;
    left: 112%;

    @media (min-width: @desktop-width) {
      width: 170%;
      left: 60%;
    }
  }
}*/

.supplements__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @desktop-width) {
    margin-right: 81px;
  }
}

.supplements__list::before {
  position: absolute;

  @media (min-width: @tablet-width) {
    content: "";
    height: 1px;
    width: 80%;
    left: -40%;
    top: 50%;
    background-color: @grey;
    transform: rotate(90deg);
  }

  @media (min-width: @desktop-width) {
    content: none;
  }
}

.supplements__list::after {
  position: absolute;

  @media (min-width: @tablet-width) {
    content: "";
    height: 1px;
    width: 80%;
    right: -40%;
    top: 50%;
    background-color: @grey;
    transform: rotate(90deg);
  }

  @media (min-width: @desktop-width) {
    content: none;
  }
}

.supplements__card {
  position: relative;
  padding-top: 13px;
  padding-bottom: 19px;

  @media (min-width: @tablet-width) {
    padding: 26px 38px 28px 38px;
  }

  @media (min-width: @desktop-width) {
    padding: 20px 0 20px 0;
  }
}

.supplements__card::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  top: 0;
  background-color: @grey;

  @media (min-width: @tablet-width) {
    left: 0;
  }
}

.supplements__card:last-child::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  bottom: 0;
  background-color: @grey;

  @media (min-width: @tablet-width) {
    width: 100%;
    left: 0;
  }
}
