.supplements__title {
  position: relative;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  font-family: @oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 329px 80px 40px;
  }
}

.supplements__title::before {
  position: absolute;

  @media (min-width: @tablet-width) {
    content: "";
    height: 2px;
    width: 8%;
    top: 60%;
    left: -21%;
    background-color: @green;
  }
}

.supplements__title::after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: @green;
  width: 24%;
  top: 60%;
  left: 90%;

  @media (min-width: @tablet-width) {
    width: 95%;
    top: 60%;
    left: 112%;
  }
}

.supplements__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.supplements__card {
  &:not(:last-child) {
    margin-bottom: 31px;

    @media (min-width: @tablet-width) {
      margin-bottom: 54px;
    }
  }

  &:last-child {
    margin-bottom: 98px;
  }
}
