/*GENERAL*/
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Oswald-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Oswald-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
/*COLORS*/
/*VIEWPORTS*/
/*FONTS*/
.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;
}
@media (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    width: 768px;
  }
  .container--tablet-form {
    padding-left: 70px;
    padding-right: 70px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*BLOCKS*/
/*FOR ALL PAGES*/
.button {
  display: inline-block;
  padding: 0;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.button:disabled {
  background-color: #444444;
  opacity: 0.2;
}
.button--primary {
  color: #ffffff;
  background-color: #68b738;
}
.button--primary:hover {
  background-color: #5eaa2f;
}
.button--primary:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}
.button--secondary {
  color: #444444;
  background-color: #f2f2f2;
}
.button---secondary:hover,
.button--secondary:focus {
  background-color: #ebebeb;
}
.section-title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .section-title {
    font-size: 60px;
    line-height: 60px;
  }
}
* {
  box-sizing: border-box;
}
.page {
  height: 100%;
  background-color: #ffffff;
}
.page__body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main-header {
  background-color: #ffffff;
  padding-top: 13px;
}
@media (min-width: 1400px) {
  .main-header {
    background-color: rgba(0, 0, 0, 0);
  }
}
@media (min-width: 768px) {
  .main-header__row {
    display: flex;
    justify-content: space-between;
  }
}
.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.main-nav {
  position: relative;
  width: auto;
}
.main-nav__toggle {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  top: -55px;
  left: 300px;
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 30px;
  width: 24px;
  height: 2px;
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 30px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
.main-nav__wrapper {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 24px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    position: static;
  }
}
@media (min-width: 1400px) {
  .main-nav__wrapper {
    background-color: rgba(0, 0, 0, 0);
  }
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }
}
.main-nav--nojs .main-nav__wrapper {
  position: static;
}
.main-nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #000000;
}
@media (min-width: 768px) {
  .main-nav__list {
    flex-direction: row;
  }
}
@media (min-width: 1400px) {
  .main-nav__list--has-background {
    color: #ffffff;
  }
}
.main-nav__item {
  position: relative;
}
.main-nav__item:not(:last-child) {
  padding-bottom: 46px;
}
@media (min-width: 768px) {
  .main-nav__item:not(:last-child) {
    padding-right: 33px;
    padding-bottom: 0;
  }
}
.main-nav__item::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #e6e6e6;
  left: 0;
  top: -22px;
}
@media (min-width: 768px) {
  .main-nav__item::after {
    display: none;
  }
}
.main-nav__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
@media (min-width: 768px) {
  .main-nav__link {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1400px) {
  .main-nav__link {
    font-size: 20px;
    line-height: 30px;
  }
}
.main-nav__link:hover {
  opacity: 0.6;
}
.main-nav__link:focus {
  opacity: 0.3;
}
.main-nav__link--current {
  position: relative;
}
.main-nav__link--current::after {
  position: absolute;
}
@media (min-width: 768px) {
  .main-nav__link--current::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #68b738;
    bottom: -10px;
    left: 0;
  }
}
.main-nav__link--current-has-background {
  position: relative;
}
@media (min-width: 1400px) {
  .main-nav__link--current-has-background::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    bottom: -10px;
    left: 0;
  }
}
.main-container {
  flex-grow: 1;
}
.main-footer {
  position: relative;
}
@media (min-width: 1400px) {
  .main-footer__partnership {
    position: absolute;
    left: 110px;
    top: 95px;
  }
}
.main-footer__location {
  background-image: url("../img/pictures/footer-location.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-footer__map {
  display: block;
}
.partnership {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
}
.partnership--light-theme {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .partnership {
    padding: 60px 70px;
  }
}
@media (min-width: 1400px) {
  .partnership {
    padding: 60px 80px;
    width: 565px;
    background-color: #ffffff;
  }
}
.partnership__title {
  display: block;
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .partnership__title {
    padding-right: 0;
    font-size: 20px;
    line-height: 26px;
    width: 30vw;
  }
}
@media (min-width: 1400px) {
  .partnership__title {
    width: 14vw;
  }
}
.partnership__adress {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
@media (min-width: 768px) {
  .partnership__adress {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    width: 25%;
  }
}
@media (min-width: 1400px) {
  .partnership__adress {
    width: 40%;
  }
}
.partnership__adress br {
  display: none;
}
@media (min-width: 768px) {
  .partnership__adress br {
    display: block;
  }
}
.connection {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  background-color: #f2f2f2;
  text-align: center;
}
@media (min-width: 768px) {
  .connection {
    padding: 55px 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1400px) {
  .connection {
    padding: 66px 110px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.connection__main-page {
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .connection__main-page {
    padding-bottom: 0;
  }
}
.socials__list {
  padding: 0;
  margin: 0;
  margin-bottom: 42px;
  list-style-type: none;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .socials__list {
    margin-bottom: 0;
  }
}
.socials__item:not(:last-child) {
  padding-right: 24px;
}
.copyright__link {
  display: flex;
  align-items: center;
  margin: 0;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}
.copyright__title {
  margin: 0;
  padding-right: 140px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}
@media (min-width: 768px) {
  .copyright__title {
    padding-right: 23px;
  }
}
.copyright__logo {
  display: block;
}
/*INDEX*/
.hero-block {
  position: relative;
  background-image: url("../img/pictures/hero-block-background-mobile.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .hero-block {
    background-image: none;
  }
}
.hero-block::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 303px;
  background: #60a833;
  z-index: -1;
}
@media (min-width: 768px) {
  .hero-block::after {
    content: none;
  }
}
@media (min-width: 1400px) {
  .hero-block::after {
    content: "";
    position: absolute;
    width: 720px;
    height: 694px;
    left: 50%;
    top: -90px;
    background-image: url(../img/pictures/hero-block-background-desktop.png);
    background-size: 720px auto;
    background-repeat: no-repeat;
  }
}
@media (min-width: 768px) {
  .hero-block__wrapper {
    margin-left: 90px;
    margin-right: 204px;
  }
}
@media (min-width: 768px) {
  .hero-block__wrapper {
    margin-left: 90px;
    margin-right: 200px;
    margin-bottom: 526px;
  }
}
@media (min-width: 1400px) {
  .hero-block__wrapper {
    margin-left: 68px;
    margin-right: 675px;
    margin-bottom: 266px;
  }
}
.hero-block__title {
  display: block;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 25px;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .hero-block__title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: left;
    padding-top: 65px;
    padding-bottom: 40px;
  }
}
.hero-block__slogan {
  margin: 0;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .hero-block__slogan {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
  }
}
.hero-block__button {
  width: 100%;
  margin-top: 135px;
  padding: 10px 63.5px;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .hero-block__button {
    width: 59%;
    margin-top: 50px;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
  }
}
.catalog-preview__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 1400px) {
  .catalog-preview__list {
    display: flex;
  }
}
.catalog-preview__card {
  background-color: #f2f2f2;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 1400px) {
  .catalog-preview__card {
    margin-top: 82px;
    margin-bottom: 71px;
  }
}
@media (min-width: 1400px) {
  .catalog-preview__card:not(:last-child) {
    margin-right: 80px;
  }
}
.catalog-preview__text-wrapper {
  padding: 30px 33px 20px 20px;
}
@media (min-width: 768px) {
  .catalog-preview__text-wrapper {
    padding: 77px 316px 57px 52px;
  }
}
@media (min-width: 1400px) {
  .catalog-preview__text-wrapper {
    padding: 77px 67px 59px 52px;
  }
}
.catalog-preview__title {
  margin: 0;
  padding-left: 70px;
  padding-bottom: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .catalog-preview__title {
    padding-left: 0;
    text-align: left;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1400px) {
  .catalog-preview__title {
    padding-left: 162px;
  }
}
.catalog-preview__description {
  display: block;
  position: relative;
  margin: 0;
  padding-bottom: 38px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .catalog-preview__description {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
}
.catalog-preview__description::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  color: #d9d9d9;
  left: 0;
  top: 110px;
}
@media (min-width: 768px) {
  .catalog-preview__description::after {
    content: none;
  }
}
.catalog-preview__link {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #000000;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
@media (min-width: 768px) {
  .catalog-preview__link {
    font-size: 20px;
    line-height: 30px;
    gap: 25px;
  }
}
.catalog-preview__link:focus {
  opacity: 0.3;
}
.features__title {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .features__title {
    margin-bottom: 32px;
  }
}
.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  counter-reset: features__item 0;
}
@media (min-width: 768px) {
  .features__list {
    display: grid;
    grid-template-columns: 250px 250px;
    column-gap: 137px;
    margin-bottom: 55px;
  }
}
@media (min-width: 1400px) {
  .features__list {
    grid-template-columns: 230px 246px 248px 250px;
    column-gap: 83px;
    margin-bottom: 69px;
  }
}
.features__item {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  counter-increment: features__item 1;
  position: relative;
  /*background-repeat: no-repeat;*/
}
@media (min-width: 768px) {
  .features__item {
    margin-bottom: 37px;
    font-size: 16px;
    line-height: 24px;
  }
}
.features__item:not(:last-child) {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .features__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.features__item:last-child {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .features__item:last-child {
    margin-bottom: 0;
  }
}
.features__item::before {
  position: absolute;
}
@media (min-width: 768px) {
  .features__item::before {
    content: "" counter(features__item) "";
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    text-align: center;
    z-index: -1;
    left: 46%;
  }
}
.features__item--result br {
  display: none;
}
@media (min-width: 768px) {
  .features__item--result br {
    display: block;
  }
}
.features__description {
  display: block;
  margin: 0;
  padding-left: 80px;
}
@media (min-width: 768px) {
  .features__description {
    padding: 140px 5px 78px 0;
  }
}
.product-promotion {
  position: relative;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .product-promotion {
    background-color: #ffffff;
  }
}
@media (min-width: 768px) {
  .product-promotion {
    background-color: rgba(0, 0, 0, 0);
  }
}
@media (min-width: 768px) {
  .product-promotion::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 462px;
    top: 55%;
    background-color: #eaeaea;
  }
}
@media (min-width: 1400px) {
  .product-promotion::after {
    top: 25%;
    z-index: -1;
  }
}
@media (min-width: 1400px) {
  .product-promotion__row {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
}
.product-promotion__wrapper {
  padding-top: 25px;
}
@media (min-width: 768px) {
  .product-promotion__wrapper {
    padding-top: 0;
    background-color: #ffffff;
  }
}
@media (min-width: 1400px) {
  .product-promotion__wrapper {
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}
.product-promotion__title {
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .product-promotion__title {
    padding-bottom: 60px;
  }
}
@media (min-width: 1400px) {
  .product-promotion__title {
    padding-bottom: 146px;
  }
}
.product-promotion__description {
  padding: 0;
  margin: 0;
  padding-bottom: 35px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .product-promotion__description {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 55px;
  }
}
@media (min-width: 768px) {
  .product-promotion__description {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 69px;
  }
}
@media (min-width: 768px) {
  .product-promotion__stats {
    display: flex;
    justify-content: space-between;
    padding-bottom: 250px;
  }
}
@media (min-width: 1400px) {
  .product-promotion__stats {
    flex-direction: column;
    padding-bottom: 0;
    width: 80%;
  }
}
@media (min-width: 768px) {
  .product-promotion__slider {
    position: relative;
    bottom: 150px;
    left: 104px;
  }
}
@media (min-width: 768px) {
  .product-promotion__slider {
    position: relative;
    bottom: 0;
    left: 200px;
  }
}
.stats__wrapper-primary {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .stats__wrapper-primary {
    width: 48%;
    padding-bottom: 0;
  }
}
@media (min-width: 1400px) {
  .stats__wrapper-primary {
    width: 95%;
    padding-left: 35px;
    padding-bottom: 55px;
  }
}
.stats__content {
  display: block;
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.stats__content--big {
  font-size: 24px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .stats__content--big {
    font-size: 30px;
    line-height: 37px;
  }
}
.stats__content--small {
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .stats__content--small {
    font-size: 20px;
    line-height: 27px;
    text-align: right;
  }
}
.stats__description {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-transform: lowercase;
  text-align: center;
}
@media (min-width: 768px) {
  .stats__description {
    font-size: 14px;
    line-height: 14px;
  }
}
@media (min-width: 1400px) {
  .stats__item--secondary {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 75px;
  }
}
.slider {
  width: 280px;
  height: 256px;
}
@media (min-width: 768px) {
  .slider {
    width: 560px;
    height: 512px;
  }
}
@media (min-width: 1400px) {
  .slider {
    width: 560px;
    height: 512px;
  }
}
/*FORM*/
.selection__title {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 37px;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: 768px) {
  .selection__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 65px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1400px) {
  .selection__title {
    margin-top: 74px;
    margin-bottom: 55px;
  }
}
.selection__description {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .selection__description {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
    width: 46%;
  }
}
@media (min-width: 1400px) {
  .selection__description {
    width: 32%;
  }
}
@media (min-width: 1400px) {
  .form-select-program__cat-and-program-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
  }
}
.form-select-program__fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
  border: none;
}
@media (min-width: 768px) {
  .form-select-program__fieldset {
    margin-bottom: 65px;
  }
}
.form-select-program__fieldset--with-title {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .form-select-program__fieldset--with-title {
    margin-bottom: 65px;
  }
}
@media (min-width: 768px) {
  .form-select-program__fieldset--additional {
    margin-bottom: 52px;
  }
}
.form-select-program__fieldset--without-title {
  position: relative;
}
.form-select-program__fieldset--without-title::after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 1px;
  background-color: #d9d9d9;
  bottom: -24px;
  left: -8%;
}
@media (min-width: 768px) {
  .form-select-program__fieldset--without-title::after {
    content: none;
  }
}
.form-select-program__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .form-select-program__list--inline {
    margin-left: 40px;
  }
}
@media (min-width: 1400px) {
  .form-select-program__list--inline {
    display: grid;
    grid-template-columns: repeat(2, 572px);
    column-gap: 78px;
  }
}
@media (min-width: 768px) {
  .form-select-program__list--additional {
    display: grid;
    grid-template-columns: 225px 225px;
    column-gap: 83px;
    margin-left: 40px;
  }
}
@media (min-width: 1400px) {
  .form-select-program__list--additional {
    display: grid;
    grid-template-columns: repeat(4, 221px);
    column-gap: 60px;
  }
}
@media (min-width: 768px) {
  .form-select-program__list--with-border {
    margin-top: 7px;
    padding: 23px 310px 27px 27px;
    border: 1px solid #e7e7e7;
  }
}
@media (min-width: 1400px) {
  .form-select-program__list--with-border {
    margin-top: 0;
    padding: 25px 251px 30px 28px;
  }
}
.form-select-program__item {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
.form-select-program__item:not(:last-child) {
  padding-bottom: 19px;
}
@media (min-width: 768px) {
  .form-select-program__item:not(:last-child) {
    padding-bottom: 37px;
  }
}
@media (min-width: 768px) {
  .form-select-program__item {
    font-size: 20px;
    line-height: 30px;
  }
}
.form-select-program__item--to-write {
  display: flex;
  align-items: baseline;
  position: relative;
}
.form-select-program__item--email::after {
  position: absolute;
  display: block;
  content: url(../img/icons/form-email.svg);
  width: 17px;
  height: 13px;
  top: 13px;
  left: 250px;
}
@media (min-width: 768px) {
  .form-select-program__item--email::after {
    top: 10px;
    left: 635px;
  }
}
@media (min-width: 768px) {
  .form-select-program__item--email::after {
    left: 540px;
  }
}
.form-select-program__item--phone::after {
  position: absolute;
  display: block;
  content: url(../img/icons/form-phone.svg);
  width: 15px;
  height: 15px;
  top: 13px;
  left: 250px;
}
@media (min-width: 768px) {
  .form-select-program__item--phone::after {
    top: 10px;
    left: 635px;
  }
}
@media (min-width: 768px) {
  .form-select-program__item--phone::after {
    left: 540px;
  }
}
.form-select-program__item--to-write input {
  flex-grow: 1;
  padding: 14px 0 13px 15px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
}
.form-select-program__item--to-write label {
  margin-right: 13px;
}
.form-select-program__legend {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  margin-bottom: 35px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .form-select-program__legend {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px 0 40px;
    margin-bottom: 76px;
  }
}
@media (min-width: 768px) {
  .form-select-program__legend--comment {
    margin-right: 450px;
  }
}
@media (min-width: 768px) {
  .form-select-program__legend--additional {
    margin-bottom: 57px;
  }
}
.form-select-program__legend::before,
.form-select-program__legend::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100vw;
  top: 50%;
  margin-top: 2px;
  background-color: #68b738;
  z-index: -1;
}
.form-select-program__legend::before {
  right: 0;
  content: none;
}
@media (min-width: 768px) {
  .form-select-program__legend::before {
    content: "";
  }
}
.form-select-program__legend::after {
  left: 20px;
}
.form-select-program__textfield {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .form-select-program__textfield {
    margin-bottom: 65px;
  }
}
.form-select-program__textarea {
  padding: 14px;
  padding-bottom: 118px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .form-select-program__textarea {
    margin-top: 11px;
    margin-left: 40px;
    padding: 11px 295px 134px 20px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1400px) {
  .form-select-program__textarea {
    margin-top: 2px;
  }
}
.form-select-program__required {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
@media (min-width: 768px) {
  .form-select-program__required {
    font-size: 14px;
    line-height: 16px;
  }
}
.form-select-program__control {
  position: relative;
  display: block;
  padding-left: 45px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .form-select-program__control {
    padding-left: 52px;
  }
}
.form-select-program__input[type="checkbox"]:checked + .form-select-program__mark--checkbox::after {
  position: absolute;
  content: url(../img/icons/checkbox-tick-mobile.svg);
  width: 18px;
  height: 14px;
  top: 15%;
  left: 20%;
}
@media (min-width: 768px) {
  .form-select-program__input[type="checkbox"]:checked + .form-select-program__mark--checkbox::after {
    content: url(../img/icons/checkbox-tick-tablet-desktop.svg);
    width: 24px;
    height: 19px;
  }
}
.form-select-program__input[type="radio"]:checked + .form-select-program__mark--radio::after {
  position: absolute;
  content: url(../img/icons/radio-tick-mobile.svg);
  width: 13px;
  height: 13px;
  top: 20%;
  left: 24%;
}
@media (min-width: 768px) {
  .form-select-program__input[type="radio"]:checked + .form-select-program__mark--radio::after {
    content: url(../img/icons/radio-tick-tablet-desktop.svg);
    width: 18px;
    height: 18px;
    top: 12%;
    left: 26%;
  }
}
.form-select-program__mark {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  bottom: -5px;
}
.form-select-program__mark--radio {
  content: "";
  width: 29px;
  height: 29px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .form-select-program__mark--radio {
    width: 39px;
    height: 39px;
  }
}
.form-select-program__mark--checkbox {
  content: "";
  width: 29px;
  height: 29px;
  border: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .form-select-program__mark--checkbox {
    width: 39px;
    height: 39px;
  }
}
.form-select-program__input:hover + .form-select-program__mark {
  border: 1px solid #bababa;
}
.form-select-program__input:disabled + .form-select-program__mark + .form-select-program__label {
  opacity: 0.3;
  cursor: default;
}
.form-select-program__input:disabled:hover + .form-select-program__mark {
  border: 1px solid #cdcdcd;
  cursor: default;
}
@media (min-width: 768px) {
  .form-select-program__button-wrapper {
    display: grid;
    grid-template-columns: 285px 175px;
    column-gap: 60px;
  }
}
@media (min-width: 1400px) {
  .form-select-program__button-wrapper {
    display: grid;
    grid-template-columns: 570px 175px;
    column-gap: 80px;
  }
}
.form-select-program__button {
  padding: 10px 78px;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .form-select-program__button {
    padding: 14px 65px;
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 26px;
  }
}
/*CATALOG*/
.catalog__title {
  padding: 0;
  margin: 27px 20px 40px 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: 768px) {
  .catalog__title {
    margin: 65px 270px 24px 0;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1400px) {
  .catalog__title {
    margin: 74px 270px 24px 0;
  }
}
.catalog__promotion {
  margin-top: 35px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .catalog__promotion {
    margin-top: 70px;
    margin-bottom: 75px;
  }
}
@media (min-width: 1400px) {
  .catalog__promotion {
    margin-top: 192px;
    margin-bottom: 0;
  }
}
@media (min-width: 1400px) {
  .catalog__supplements-and-promo-wrapper {
    display: flex;
    margin-bottom: 87px;
  }
}
@media (min-width: 1400px) {
  .catalog__supplements {
    width: 100%;
  }
}
.basic-catalog__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .basic-catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 324px);
  }
}
@media (min-width: 1400px) {
  .basic-catalog__list {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 63px;
  }
}
.basic-catalog__card {
  position: relative;
}
.basic-catalog__card::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 114%;
  top: 0;
  left: -7%;
  background-color: #ebebeb;
}
@media (min-width: 768px) {
  .basic-catalog__card::before {
    content: none;
  }
}
.basic-catalog__card:last-child::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 114%;
  bottom: 0;
  left: -7%;
  background-color: #ebebeb;
}
@media (min-width: 768px) {
  .basic-catalog__card:last-child::after {
    content: none;
  }
}
.basic-card {
  padding: 20px 0 25px 0;
}
.basic-card--show-more {
  padding-top: 78px;
}
@media (min-width: 768px) {
  .basic-card {
    margin-top: 60px;
    padding: 30px 37px 40px 37px;
  }
}
@media (min-width: 768px) {
  .basic-card:nth-child(odd) {
    margin-right: 60px;
  }
}
@media (min-width: 1400px) {
  .basic-card:nth-child(odd) {
    margin-right: 0;
  }
}
.basic-card__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .basic-card__wrapper {
    display: block;
  }
}
.basic-card__wrapper--product {
  position: relative;
}
.basic-card__wrapper--product::after {
  position: absolute;
}
@media (min-width: 768px) {
  .basic-card__wrapper--product::after {
    content: "";
    display: block;
    width: 324px;
    height: 430px;
    top: 80px;
    left: -30px;
    background-color: #f2f2f2;
    z-index: -1;
  }
}
@media (min-width: 1400px) {
  .basic-card__wrapper--product::after {
    width: 245px;
    height: 430px;
  }
}
.basic-card__product-wrapper {
  display: flex;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .basic-card__product-wrapper {
    flex-direction: column;
    margin-bottom: 32px;
  }
}
.basic-card__info-wrapper {
  display: flex;
  flex-direction: column;
}
.basic-card__title {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .basic-card__title {
    font-size: 20px;
    line-height: 24px;
  }
}
.basic-card__title--product {
  width: 76px;
  color: #222222;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .basic-card__title--product {
    width: 66%;
    text-align: center;
    margin: 0 57px 21px 58px;
  }
}
@media (min-width: 1400px) {
  .basic-card__title--product {
    width: 93%;
    margin: 0 14px 23px 15px;
  }
}
.basic-card__title--show-more {
  display: block;
  position: relative;
  color: #000000;
  padding-bottom: 8px;
  text-align: center;
}
@media (min-width: 768px) {
  .basic-card__title--show-more {
    padding-top: 160px;
    padding-bottom: 23px;
  }
}
.basic-card__title--show-more br {
  display: none;
}
@media (min-width: 768px) {
  .basic-card__title--show-more br {
    display: block;
  }
}
.basic-card__title--show-more::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 1px;
  top: -40px;
  right: 125px;
  background-color: #d3d3d3;
}
@media (min-width: 768px) {
  .basic-card__title--show-more::after {
    width: 60px;
    top: 100px;
    right: 90px;
  }
}
@media (min-width: 1400px) {
  .basic-card__title--show-more::after {
    right: 50px;
  }
}
.basic-card__title--show-more::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 1px;
  top: -40px;
  right: 125px;
  background-color: #d3d3d3;
  transform: rotate(90deg);
}
@media (min-width: 768px) {
  .basic-card__title--show-more::before {
    width: 60px;
    top: 100px;
    right: 90px;
  }
}
@media (min-width: 1400px) {
  .basic-card__title--show-more::before {
    right: 50px;
  }
}
.basic-card__image-container {
  padding: 10px 36px;
}
@media (min-width: 768px) {
  .basic-card__image-container {
    padding: 20px 40px;
    margin: 10px 25px 22px 25px;
  }
}
.basic-card__image-container--big {
  padding: 3px 28px;
}
@media (min-width: 768px) {
  .basic-card__image-container--big {
    padding: 2px 16px;
    margin: 10px 25px 22px 25px;
  }
}
.basic-card__button {
  padding: 10px 109px;
}
@media (min-width: 768px) {
  .basic-card__button {
    padding: 10px 94px;
  }
}
@media (min-width: 1400px) {
  .basic-card__button {
    padding: 10px 53px;
  }
}
.basic-card__button--secondary {
  padding: 10px 95px;
}
@media (min-width: 768px) {
  .basic-card__button--secondary {
    padding: 10px 80px;
  }
}
@media (min-width: 1400px) {
  .basic-card__button--secondary {
    padding: 10px 39px;
  }
}
.basic-card__promo {
  margin: 0;
  margin-bottom: 21px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: center;
}
@media (min-width: 768px) {
  .basic-card__promo {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 82px;
  }
}
.card-description-list {
  display: grid;
  grid-template-columns: 45px 45px;
  grid-template-rows: 16px 16px 16px;
  column-gap: 50px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .card-description-list {
    grid-template-columns: 50px 60px;
    grid-template-rows: 20px 20px 20px;
    column-gap: 140px;
    row-gap: 10px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1400px) {
  .card-description-list {
    column-gap: 59px;
  }
}
.card-description-list__parameter {
  margin: 0;
  padding: 0;
}
.card-description-list__value {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: right;
}
.card-description-list__value::after {
  position: absolute;
}
@media (min-width: 768px) {
  .card-description-list__value::after {
    content: "";
    width: 33vw;
    height: 1px;
    background-color: #cdcdcd;
    bottom: -2px;
    right: 0;
  }
}
@media (min-width: 1400px) {
  .card-description-list__value::after {
    content: "";
    width: 12vw;
    height: 1px;
    background-color: #cdcdcd;
    bottom: -2px;
    right: 0;
  }
}
.supplements__title {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 36px;
  padding: 0;
  padding-right: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .supplements__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px 0 40px;
    margin: 70px 245px 80px 40px;
  }
}
@media (min-width: 1400px) {
  .supplements__title {
    margin: 76px 522px 80px 0;
  }
}
.supplements__title::after,
.supplements__title::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100vw;
  top: 50%;
  margin-top: 2px;
  background-color: #68b738;
  z-index: -1;
}
.supplements__title::after {
  left: 20px;
}
.supplements__title::before {
  right: 0;
  content: none;
}
@media (min-width: 768px) {
  .supplements__title::before {
    content: "";
  }
}
.supplements__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 1400px) {
  .supplements__list {
    margin-right: 81px;
  }
}
.supplements__list::before {
  position: absolute;
}
@media (min-width: 768px) {
  .supplements__list::before {
    content: "";
    height: 1px;
    width: 80%;
    left: -40%;
    top: 50%;
    background-color: #ebebeb;
    transform: rotate(90deg);
  }
}
@media (min-width: 1400px) {
  .supplements__list::before {
    content: none;
  }
}
.supplements__list::after {
  position: absolute;
}
@media (min-width: 768px) {
  .supplements__list::after {
    content: "";
    height: 1px;
    width: 80%;
    right: -40%;
    top: 50%;
    background-color: #ebebeb;
    transform: rotate(90deg);
  }
}
@media (min-width: 1400px) {
  .supplements__list::after {
    content: none;
  }
}
.supplements__card {
  position: relative;
  padding-top: 13px;
  padding-bottom: 19px;
}
@media (min-width: 768px) {
  .supplements__card {
    padding: 26px 38px 28px 38px;
  }
}
@media (min-width: 1400px) {
  .supplements__card {
    padding: 20px 0 20px 0;
  }
}
.supplements__card::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  top: 0;
  background-color: #ebebeb;
}
@media (min-width: 768px) {
  .supplements__card::before {
    left: 0;
  }
}
.supplements__card:last-child::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  bottom: 0;
  background-color: #ebebeb;
}
@media (min-width: 768px) {
  .supplements__card:last-child::after {
    width: 100%;
    left: 0;
  }
}
@media (min-width: 1400px) {
  .supplemental-card__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 40px;
  }
}
@media (min-width: 768px) {
  .supplemental-card__text-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1400px) {
  .supplemental-card__text-wrapper {
    display: grid;
    grid-template-columns: 165px 290px;
    column-gap: 155px;
  }
}
.supplemental-card__title {
  margin: 0;
  margin-bottom: 13px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .supplemental-card__title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1400px) {
  .supplemental-card__title {
    margin-bottom: 0;
  }
}
.supplemental-card__description {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 120px 45px;
  column-gap: 115px;
  grid-template-rows: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .supplemental-card__description {
    grid-template-columns: 140px 50px;
    column-gap: 33px;
  }
}
@media (min-width: 1400px) {
  .supplemental-card__description {
    grid-template-columns: 140px 50px;
    column-gap: 95px;
  }
}
.supplemental-card__parameter {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .supplemental-card__parameter {
    font-size: 16px;
    line-height: 20px;
  }
}
.supplemental-card__value {
  margin: 0;
  text-align: right;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
@media (min-width: 768px) {
  .supplemental-card__value {
    font-size: 16px;
    line-height: 20px;
  }
}
.supplemental-card__button {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}
.promotion {
  background-color: #68b738;
  background-image: url("../img/pictures/catalog-promo-background-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.promotion__content {
  position: relative;
  margin: 0;
  padding: 187px 61px 43px 58px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .promotion__content {
    text-align: left;
    padding: 71px 125px 69px 421px;
  }
}
@media (min-width: 1400px) {
  .promotion__content {
    text-align: center;
    padding: 185px 42px 43px 42px;
  }
}
.promotion__content::before {
  position: absolute;
  content: url(../img/icons/promotion-gift.svg);
  bottom: 150px;
  left: 100px;
}
@media (min-width: 768px) {
  .promotion__content::before {
    bottom: 60px;
    left: 100px;
  }
}
@media (min-width: 1400px) {
  .promotion__content::before {
    bottom: 150px;
    left: 100px;
  }
}
/*# sourceMappingURL=style.css.map */
