/*COLORS*/
@white: #ffffff;
@clearwhite: rgba(255, 255, 255, 0.3);
@black: #000000;
@specialblack: #222222;
@green: #68b738;
@specialgreen: #5eaa2f;
@darkgreen: #60a833;
@grey: #ebebeb;
@lightgrey: #f2f2f2;
@darkgrey: #eaeaea;
@middlegrey: #e6e6e6;
@specialgrey: #444444;

/*VIEWPORTS*/
@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1400px;

/*FONTS*/
@oswald: "Oswald", sans-serif;
@lato: "Lato", sans-serif;
